.box-img {
    top: 50px;
    left: 50px;
    display: flex;
    object-fit: cover;
    height: 400px;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: black;
    border-radius: 15px;
}

.backgroundimg {
    object-fit: cover;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 5px 10px 20px;

}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    gap: 20px;

}

.button-save {
    background-color: red;
    padding: 8px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    border: none;

}

.list-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 20px;
    left: 20px;
    align-items: flex-start;
}

.menubutton {
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 50px;
    margin: 13px;
}

.box-img:hover .button-container {
    top: 320px;
}

.box-img:hover .list-button {
    top: 20px;
}

.box-img:hover .backgroundimg {
    opacity: 0.5;
}